{{> head}}

<body >

  <header class="grid">
    <row>
      <section style="padding: 0 0.7em;    display: flex;
    align-items: center;">
        <a style="margin-right:1.4em" class="logo {{selected.index}}" title="Blot" href="/" >{{> logo}}</a>
        <a style="margin-right:1.4em" href="/publishing">How to use Blot</a>
        <a style="margin-right:1.4em" href="/templates">Templates</a>
        <a style="margin-right:1.4em" href="/about">About</a>
        <a style="margin-right:1.4em" href="/news">News</a>
        <a href="/support">Support</a>
      </section>


      <section class="links">
        <label for="toggle">Menu</label>
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Log in</a>
      </section>
    </row>

  </header>
  <main class="grid" style="padding-top:0">
    
    <input type="checkbox" name="toggle" id="toggle">
      
      {{#if selected.publishing}}
    <ul class="sidebar col-25">






      <li>
        <a class="{{selected.publishingIndex}}" href="{{{base}}}/publishing">How to use Blot</a>
      </li>
      <li>
        <a class="{{selected.pages}}" href="{{{base}}}/publishing/pages">Pages</a>
      </li>
      <li>
        <a class="{{selected.public-files}}" href="{{{base}}}/publishing/public-files">Public files</a>
      </li>
            <li>
        <a class="{{selected.formatting}}" href="/publishing/formatting">Formatting</a>
      </li>

      <li>
        <a class="{{selected.metadata}}" href="{{{base}}}/publishing/metadata">Metadata</a>
      </li>
            <li>
        <a class="{{selected.clients}}" href="{{{base}}}/publishing/clients">Clients</a>
      </li>

      <li>
        <a class="{{selected.domain}}" href="{{{base}}}/publishing/domain">Use your domain</a>
      </li>

<!-- 
        <hr>
        <li><a class="{{selected.templates}}" href="{{{base}}}/templates">Templates</li>
        <li><a class="{{selected.support}}" href="/support">Support</a></li>
        <li><a class="{{selected.news}}" href="/news">News</a></li>
        <li><a class="{{selected.about}}" href="/about">About</li> -->
   </ul>
{{/if}}
    <content class="col-75">
      <br><br>
      {{{body}}}
    </content>
  </main>

  {{> footer}}
</body>

</html>
