<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <h1>Archives</h1>
        {{#allTags.length}}
        <h2>Categories</h2>
        <hr>
        {{#allTags}}
        {{tag}}
        {{/allTags}}
        {{/allTags.length}}
        
        {{#allEntries.length}}
        <h2>Posts</h2>
        <hr>
        <div>
          {{#allEntries}}
          <a href="{{url}}">
          <span class="small">{{#formatDate}}YYYY-MM-DD{{/formatDate}}</span> {{title}}{{summary}}
        </a>
          <hr>
          {{/allEntries}}
          {{/allEntries.length}}

        </div>
        {{> footer}}
      </div>
    </div>
  </body>
</html>